  
 {
  "language": "node_js",
  "node_js": "12",
  "os": [
    "osx"
  ],
  "dist": "xenial",
  "cache": {
    "directories": [
      "node_modules",
      "$HOME/.cache/electron",
      "$HOME/.cache/electron-builder"
    ]
  },
  "script": [
    "if [ \"$TRAVIS_OS_NAME\" == \"linux\" ]; then\n  ENVS=`env | grep -iE '(DEBUG|NODE_|ELECTRON_|YARN_|NPM_|CI|CIRCLE|TRAVIS|APPVEYOR_|CSC_|_TOKEN|_KEY|AWS_|STRIP|BUILD_)' | sed -n '/^[^\\t]/s/=.*//p' | sed '/^$/d' | sed 's/^/-e /g' | tr '\\n' ' '`\n  docker run $ENVS --rm \\\n    -v ${PWD}:/project \\\n    -v ~/.cache/electron:/root/.cache/electron \\\n    -v ~/.cache/electron-builder:/root/.cache/electron-builder \\\n    electronuserland/builder:wine \\\n    /bin/bash -c \"node -v && npm ci && npm run cilinux\"\nelse\n  npm run cidarwin\nfi\n"
  ],
  "before_cache": [
    "rm -rf $HOME/.cache/electron-builder/wine"
  ],
  "branches": {
    "except": [
      "/^v\\d+\\.\\d+\\.\\d+$/"
    ]
  },
  "jobs": {
    "include": [
      {
        "os": "osx",
        "osx_image": "xcode11.3",
        "language": "node_js",
        "node_js": "12",
        "env": [
          {
            "ELECTRON_CACHE": "$HOME/.cache/electron"
          },
          {
            "ELECTRON_BUILDER_CACHE": "$HOME/.cache/electron-builder"
          },
          {
            "ELECTRON_BUILDER_ALLOW_UNRESOLVED_DEPENDENCIES": "true"
          },
          {
            "CSC_IDENTITY_AUTO_DISCOVERY": "false"
          }
        ]
      },
      {
        "os": "linux",
        "services": [
          "docker"
        ],
        "language": "generic",
        "node_js": "12",
        "env": [
          {
            "ELECTRON_BUILDER_ALLOW_UNRESOLVED_DEPENDENCIES": "true"
          }
        ]
      }
    ]
  }
}
